.venv
.env
notebooks/
frontend/.next
plans/
server/__pycache__
*.ipynb
frontend/node_modules
frontend/tsconfig.tsbuildinfo
exporter/*.db
exporter/*.db-shm
exporter/*.db-wal
*__pycache__
.DS_Store
frontend/public/cameras
assets/
exporter/backfill_scripts
*/deprecated/*
.claude
.vscode
report/old
report/papers